html {
    background-color: #282728;
}

body {
    font-family: 'amblelight', Arial, 'Lucida Sans';
    font-size: 1em;
    color: #282728;
}

h1 {
    position: relative;
    display: block;
    font-size: 2.5em;
}

h3 {
    font-size: 1.5em;
}

aside {
    background-color: #FBC02D;
}

header figure {
    background-color: #FBC02D;
    padding-bottom: 1em;
    margin-bottom: 0em;

}

section {
    margin-bottom: 1em;
}


.order-md-5 {
    padding: 10em 0em 0em 0em;
}

.item {
    padding: 0em 0em 0em 4em;
}

div,
section,
article,
aside,
footer {
    display: block;
}

ul {
    padding: 0em;

}

li {
    list-style: none;
}

.typo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* header  */

.titre {
    vertical-align: middle;
    padding: 7em 12em 0em 3em;
}

.colorname {
    color: #FBC02D;
}

.decoration {
    border-bottom: solid 0.07em #FBC02D;
}


/* Main */



.order-md-2,
.order-md-4,
.order-md-6 {
    padding: 2em 1em 0em 3em;
}

/* columnleft */
figure img {
    text-align: center;
    margin-top: 1em;
    border-radius: 100%;
    border: 2px solid #282728;
}

aside h2 {
    text-align: center;
    background-color: #282728;
    color: #FBC02D;
}

address a {
    color: #282728;
    text-decoration: none;
}

address a:hover {
    text-decoration: none;
    color: white;
    transition: cubic-bezier(0.23, 1, 0.320, 1) 400ms;
}

address p {
    margin-top: -1.5em;
    padding-right: 1em;
}

address,
.propos {
    padding: 1em 2em 0em 3em;
}

.loisirs {
    font-size: 60px;
    text-align: center;
    margin-bottom: 0.5em;
    color: #282728;
}

.center-block {
    text-align: justify;
    padding: 0.5em 0.3338em 0.5em 0.3338em;
    margin: 0.5em;
    font-size: 32px;
    border-radius: 50%;
    border: 0.01em solid #282728;

}

.center-block1 {
    text-align: justify;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin: 0.5em;
    font-size: 32px;
    border-radius: 50%;
    border: 0.01em solid #282728;

}



/* Section right */

.description {
    padding-right: 1em;
}

.fa-pen-fancy,
.fa-graduation-cap,
.fa-briefcase,
.fa-dot-circle,
.fa-circle {
    color: #FBC02D;
    padding-right: 0.5em;
}


.puce_titre {
    position: absolute;
    font-size: 32px;
    padding: 0.3em 0em 0em 0em;
}

.underline {
    border-bottom: solid 0.05em #FBC02D;
    padding: 0.2em 0em 0.5em 1.5em;
    margin-bottom: 1em;
}

.puce {
    position: absolute;
    padding: 0.3em 0em 0em 0em;
}



.when_where {
    display: block;
    width: 75%;
    padding-left: 2em;
}



.card-header {
    background-color: rgba(241, 207, 14, 0.13);
}

.card {

    background-color: transparent;
}

.card-title {
    width: 7em;
    padding-bottom: 0.4em;
}

.card-text a {
    color: #282728;
    text-decoration: none;
}

.card-text a:hover {
    text-decoration: none;
    color: #FBC02D;
    transition: cubic-bezier(0.23, 1, 0.320, 1) 400ms;
}


/* responsive */
/* max-width 1024px */
@media (max-width: 1024px) {
    body {
        margin: 0em;
        padding: 0em;
    }

    .titre {
        vertical-align: middle;
        padding: 4em 0em 0em 3em;
    }

    aside img {
        text-align: center;
        margin-top: 1em;
    }

    .item {
        padding: 0em 0em 0em 1em;
    }

    .when_where {
        display: block;
        width: 100%;
        padding-left: 2em;
    }

    .description {
        padding-right: 2em;
    }

    address,
    .propos {
        padding-left: 2em;
    }


    .order-md-6 {
        margin-top: 0em;
    }

    .loisirs {
        text-align: center;
        margin: 0em;
    }

    .center-block {
        margin: 0.01em;
        font-size: 28px;
    }

    .center-block1 {
        margin: 0.01em;
        font-size: 28px;
    }
}



/* max-width 767px */
@media (max-width: 767px) {

    .hide {
        background: none;
    }

    figure img {
        text-align: center;
        border-radius: 100%;
        border: 0.5px solid#282728;
    }

    address,
    .propos {
        padding-left: 4em;
    }

    .titre {
        vertical-align: middle;
        margin: 1em 0em 0em 2em;
        padding: 0em;
    }

    .puce_titre {
        position: absolute;
        font-size: 25px;
        padding: 0.3em 0em 0em 0em;
    }

    .underline {
        font-size: 1.5em;
        border-bottom: solid 0.05em #FBC02D;
        padding: 0.4em 0em 0.5em 1.5em;
        margin-bottom: 1em;
    }


    .item {
        padding: 2em 1em 0em 3em;
    }

    .description {
        padding: 0em 2em 1em 1em;
    }

    .order-md-5 {
        padding: 0em;
    }

    .order-md-6 {
        margin: 0em;
    }

    .loisirs {
        text-align: center;
        font-size: 55px;
        padding-bottom: 0.5em;
        margin: 0em;
    }

    .center-block {
        text-align: justify;
        margin: 0.5em;
        font-size: 28px;
    }

    .center-block1 {
        text-align: justify;
        margin: 0.5em;
        font-size: 28px;
    }



}

/* max-width 443px */
@media (max-width: 443px) {
    body {
        margin: 0em;
        padding: 0em;
    }


    aside img {
        text-align: center;
        margin-top: 1em;
    }

    address,
    .propos {
        padding-left: 1em;
    }

    .item {
        padding: 2em 1em 0em 1em;
    }

    .when_where {
        display: block;
        width: 100%;
        padding-left: 2em;
    }

    .loisirs {
        text-align: center;
        font-size: 50px;
        padding-bottom: 0.5em;
        margin: 0em;
    }

    .center-block {
        text-align: justify;
        margin: 0em;
        font-size: 24px;
    }

    .center-block1 {
        text-align: justify;
        margin: 0em;
        font-size: 24px;
    }
}